.app-container {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
  }
  
  body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #2c3e50;
  }
  
  select, option {
    font-family: inherit;
  }
  