<div class="topnav">
    <div class="welcome-message">
      <h2>Welcome, Naresh Kamble</h2>
    </div>
    <div class="monthly-overview">
      <div class="overview-container">
        <div class="overview-box-heading">
          <p class="label">Monthly Overview (in kW)</p>
        </div>
        <div class="overview-box">
          <p class="label">Energy Generation</p>
          <p class="value">139.5 kW</p>
        </div>
        <div class="overview-box">
          <p class="label">Energy Consumption</p>
          <p class="value">86.8 kW</p>
        </div>
        <div class="overview-box">
          <p class="label">Export to Grid</p>
          <p class="value">52.7 kW</p>
        </div>
      </div>
    </div>
  </div>
  