/* .dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropdown-section {
  margin-bottom: 16px;
}

.main-content {
  display: flex;
  gap: 20px; 
  align-items: flex-start;
}

.graph-section {
  flex: 2; 
  min-width: 0; 
}

 */
