<div class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <div>
        <h1>Solar energy Dashboard</h1>
        <p>Powered by Shell Global</p>
      </div>
    </div>
    <nav class="nav">
      <a routerLink="/dashboard" class="nav-item" routerLinkActive="active">Dashboard</a>
      <a routerLink="/profile-settings" class="nav-item" routerLinkActive="active">Profile Settings</a>
      <a routerLink="/logout" class="nav-item">Logout</a>
    </nav>
  </div>
  